.margine 
{
    margin: 15px;
}
.color-green
{
color: green;
}

.color-red
{
    color: red ;
}


.font
{
    font-size: 20px;
}
.color-mor
{
    color: purple;
}
h4
{
    color: seagreen;
}
h1
{
    color: red;
}